Source: pacstall
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/pacstall/pacstall


Package: pacstall
Architecture: all
Depends: curl, wget, stow, build-essential, unzip, fzf
Description: The AUR Ubuntu never had.
 Pacstall will attempt to become the AUR Ubuntu wishes it had.

